#initially-showing {
  display: none;
}
#anotha-one-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  max-width: 500px;
  max-length: 500px;
  length: auto;
  width: auto;
}
.clicka {
  cursor: pointer;
  color: #0088cc;
}

.clicka:hover {
  text-decoration: underline;
}
